* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("./IMAGENES/fondo.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 7%;
}

img {
    display: block;
    width: 20%;
    border: 2px solid #DAA520;
    border-radius: 25%;
}


.presentacion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
}

.presentacion>h1 {
    color: rgb(241, 123, 55);
    font-family: 'Inspiration', cursive;
    font-size: 5em;
    margin: 7px 0px;
    align-self: center;
}

.presentacion>p {
    color: rgb(136, 90, 6);
    font-family: 'Crimson Text', serif;
    font-size: 1.1em;
    margin: 5px;
}

#nav {
    align-self: center;
    margin-top: 1em;
}

#nav>a>i {
    color: #DAA520;
    font-size: 1.5em;
    margin: 0.2em;
}


@media screen and (min-width:591px) and (max-width:940px) {
    .presentacion {
        width: 50%;
    }

    img {
        width: 30%;
    }


    .presentacion>h1 {
        font-size: 3.5em;
        margin: 5px 0px 0px 0px;
    }

    .presentacion>p {
        font-size: 1.3em;
    }
}

@media screen and (max-width:590px) {
    body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    img {
        width: 30%;
        margin-top: 2.5em;
    }

    .presentacion {
        width: 60%;
    }

    .presentacion>h1 {
        font-size: 3em;
        margin: 5px 0px 0px 0px;
    }

    #p1 {
        margin: 2px 5px 5px 15px;
    }

    .presentacion>p {
        margin-left: 15px;
    }
}

@media screen and (max-width:940px) {}